.sidebar {
    padding: 25px 10px;
    flex: 0.33;
  }


  @media (max-width:599px) {
   

    h4 {
      font-size: 14px;
      
    }

    svg {
      padding: 1px;
      margin-right: 1px;
  }


    
  }